<body>
  <div class="container">
    <div class="card card-signin my-5">
      <div class="card-body">
        <%= form_with(model: note, local: true) do |form| %>
          <% if note.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

              <ul>
              <% note.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <h5 class="card-title text-center">Nova Anotação</h5>

          <div class="form-group">
            <%= form.label "Título" %>
            <%= form.text_field :title, id: :note_title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label "Anotação" %>
            <%= form.text_area :note, id: :note_note, class: "form-control", rows: "3" %>
          </div>
          <div class="form-group">
            <%= form.label "Data" %>
            <%= form.text_field :date , id: :note_date, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label "Prioridade" %>
            <%= form.select :priority, options_for_select([["Alta", 1], ["Média", 2], ["Baixa", 3]]), {}, id: :note_priority, class: "form-control" %>
          </div>

          <div class="actions">
            <%= link_to 'Voltar', notes_path, class: "btn btn-primary" %>
            <%= form.submit "Criar", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
