<p id="notice"><%= notice %></p>
<body>
  <div class="container">
    <div class="card card-signin my-5">
      <div class="card-body">
        <%= form_with(model: @note, local: true, method: 'get', url: root_path) do |form| %>
          <h5 class="card-title text-center">Buscar Anotações</h5>
          <br>
          <fieldset>
            <div class="input-group input-group-btn">
              <%= form.text_field "Buscar", class: "form-control", id: "search", placeholder: "Buscar..."%>
              <%= form.submit "Buscar", class: "btn btn-primary" %>
            </div>
          </fieldset>

          <section>
            <% if @notes.present? %>
              <table class="table">
              <br>
              <thead>
                <tr>
                  <th>Título</th>
                  <th>Nota</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <% @notes.each do |note| %>
                <tbody>
                  <tr>
                    <td><%= note.title.camelize %></td>
                    <td><%= note.note %></td>
                    <td><%= link_to 'Visualizar', note, class: "btn btn-primary" %></td>
                    <td><%= link_to 'Editar', edit_note_path(note), class: "btn btn-primary" %></td>
                    <td><%= link_to 'Deletar', note, method: :delete, class: "btn btn-primary", data: { confirm: "Deletar #{note.title}?" } %></td>
                  </tr>
                </tbody>
              <% end %>
            <% end %>
          </section>
        <% end %>
      </div>
    </div>
  </div>
</body>