<p id="notice"><%= notice %></p>
<body>
  <div class="container">
    <div class="card card-signin my-5">
      <div class="card-body">
        <p>
          <strong>Título:</strong>
          <%= @note.title %>
        </p>

        <p>
          <strong>Anotação:</strong>
          <%= @note.note %>
        </p>

        <p>
          <strong>Data:</strong>
          <%= @note.date.strftime("%d/%m/%Y") %>
        </p>

        <p>
          <strong>Prioridade:</strong>
          <% if @note.priority == 1 %>
            <%= "Alta" %>
          <% elsif @note.priority == 2 %>
            <%= "Média" %>
          <% else %>
            <%= "Baixa" %>
          <% end %>
        </p>

        <%= link_to 'Editar', edit_note_path(@note), class: "btn btn-primary" %>
        <%= link_to 'Voltar', notes_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</body>