<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Cadastrar</h5>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name),  html: {class: "form-signin"}) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-label-group">
                <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email", autocomplete: "email" %>
                <%= f.label :email %>
              </div>

              <div class="form-label-group">
                <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "new-password" %>
                <%= f.label :password %>
              </div>

              <div class="form-label-group">
                <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password confirmation", autocomplete: "new-password" %>
                <%= f.label :password_confirmation %>
              </div>

              <%= f.submit "Cadastrar", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
              <%- if controller_name != 'sessions' %>
                <%= link_to "Login", new_session_path(resource_name), class: "btn btn-lg btn-primary btn-block text-uppercase" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>