<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Entrar</h5>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
              <div class="form-label-group">
                <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
                <%= f.label :email %>
              </div>

              <div class="form-label-group">
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password", required: true %>
                <%= f.label :password %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="custom-control custom-checkbox mb-3">
                  <%= f.check_box :remember_me, class: "custom-control-input" %>
                  <%= f.label :remember_me, class: "custom-control-label" %>
                </div>
              <% end %>

              <%= f.submit "Login", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
              <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                <%= link_to "Cadastrar", new_registration_path(resource_name), class: "btn btn-lg btn-primary btn-block text-uppercase" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>